.data-container {
  display: flex;
  flex-direction: column;
}

.data-row {
  display: flex;
  align-items: center;
  padding: 4px 0;
  /* border-bottom: 1px solid #eee; */
}

.data-label {
  flex: 0 0 200px;
  /* font-weight: bold; */
  font-weight: 700;
}

.data-value {
  flex: 1;
  display: flex;
  align-items: center;
}

.ethereum-address {
  display: flex;
  align-items: center;
}

.copy-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
}

.copied-message {
  color: green;
  font-size: 0.8em;
  margin-left: 5px;
}

.price-data-container {
  display: flex;
  flex-direction: column;
}

.price-data-row {
  display: flex;
  align-items: center;
  padding: 4px 0;
  /* border-bottom: 1px solid #eee; */
}

.token-logo-container {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.token-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.token-symbol {
  flex: 0 0 100px;
}

.token-price {
  flex: 0 0 150px;
}

.token-address-container {
  flex: 1;
}

.etherscan-link {
    color: inherit;
    text-decoration: none;
  }
  
  .etherscan-link:hover {
    text-decoration: underline;
  }
  
  .ethereum-address {
    display: flex;
    align-items: center;
  }
  
  .copy-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
  }
  
  .copied-message {
    color: green;
    font-size: 0.8em;
    margin-left: 5px;
  }

  body, .token-data {
    font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  }

  .grouped-row .data-value {
    display: flex;
    align-items: center;
  }
  
  .grouped-value {
    margin-right: 5px;
  }
  
  .grouped-separator {
    margin: 0 5px;
    color: #666; /* Adjust color as needed */
  }
  
  .grouped-values {
    display: flex;
    align-items: center;
  }

  .token-header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .token-symbol {
    font-weight: bold;
  }
  
  .token-address {
    font-size: 0.8em;
    font-weight: normal;
  }
  
  .token-address .ethereum-address {
    display: inline-flex;
    align-items: center;
  }
  
  .token-address .copy-button {
    margin-left: 5px;
  }
  
  .token-address .copied-message {
    margin-left: 5px;
  }

  .ybs-data-container {
    position: relative;
    padding-top: 40px; /* Add space for the week selector */
  }
  
  .week-selector {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .week-selector button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .week-selector button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .ybs-data {
    margin-top: 10px;
  }