body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.token-data {
  border: 1px solid #000000;
  margin-bottom: 20px;
  padding: 15px;
}

h2 {
  font-size: 16px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.tabs {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap; /* Add this line for mobile */
}

.tabs button {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  cursor: pointer;
  padding: 5px 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  margin-right: 5px;
  flex: 1; /* Add this line for mobile */
  margin-bottom: 5px; /* Add this line for mobile */
}

.tabs button.active {
  background-color: #000000;
  color: #ffffff;
}

.tab-content {
  border: 1px solid #000000;
  padding: 10px;
}

.data-item {
  margin-bottom: 5px;
}

.data-label {
  font-weight: bold;
  margin-right: 5px;
}

.data-value {
  word-break: break-all;
}

h4 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom: 1px dashed #000000;
}

@media (max-width: 768px) {
  .tabs {
    flex-direction: column;
  }

  .tabs button {
    width: 100%;
    text-align: left;
  }

  .token-data {
    padding: 10px;
  }

  .tab-content {
    padding: 10px;
  }
}

/* Prevent zoom on input fields */
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="color"],
select,
textarea {
  font-size: 16px;
}

/* Style the footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; /* Center text horizontally */
  padding: 1px 1px;  /* Adjust padding to reduce height */
  background-color: rgb(20, 20, 20);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;  /* Ensure footer is above other content */
}

.countdown {
  display: inline-block; /* Center the content within the text */
  font-size: 18px;
  color: white;
}

.last-update {
  font-size: 12px;
  color: white;
  margin-top: 1px; /* Reduce margin to save space */
}

.main-content {
  padding-bottom: 40px; /* Adjust based on the height of your footer */
}